$system-fonts: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu,
	"Helvetica Neue", arial, sans-serif;

:root {
	--font-primary: "PT Sans", #{$system-fonts};
	--font-accent: "PT Sans Narrow", #{$system-fonts};
}
