apiVersion: v1
kind: Service
metadata:
  name: shd-client-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: shd-client
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT }}
      targetPort: 4100
      protocol: TCP
      name: shd-client
  selector:
    app: shd-client
